/* Reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: #444;
    min-height: 690px;
    min-width: 1033px;
}
/*
ol, ul {
    list-style: none;
}
*/
table { /* tables still need cellspacing="0" */
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

/* End reset styles */
body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 80%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #2e7989;
}

.clear {
    clear: both;
}

div#notice {
    color: #080;
    font-size: 150%;
    line-height: 200%;
    font-family: trebuchet, verdana, helvetica, arial, sans-serif;
}
div.errors {
    margin-top: 20px;
}

.devise-link {
    font-size: 0.9em;
    color: #333;
    margin: 5px;
    margin-top: 10px;
}

form p.field-pair {
    margin-top: 10px;
    margin-bottom: 10px;
}

form p.submit-button {
    margin-top: 15px;
}

form div p {
    margin-top: 15px;
}

form div p.submit-button {
    margin-bottom: 5px;
}

form label {
    margin-top: 10px;
}

div.field-row {
    margin-bottom: 10px;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    /*  width: 400px;*/
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul {
    margin-top: 10px;
}

#errorExplanation ul li {
    margin-left: 25px;
    font-size: 12px;
    list-style: square;
    text-align: left;
}

.plain-text p {
    margin-bottom: 1em;
}

.plain-text a {
    color: blue;
}

.disabled-link {
    color: #888;
}

.bad-phone {
    color: red;
}

#header {
    background-color: #444;
    color: white;
    float: left;
    width: 960px;
}

.page-logo {
    margin-bottom: 15px;
    height: 88px;
    padding-top: 10px;
    padding-left:10px;
}

#header h1 {
    /*  background-image: url("../images/layout/logo.png.html");*/
    /*  background-repeat: no-repeat;*/
    float: left;
    font-size: 200%;
    font-family: trebuchet, verdana, helvetica, arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 4px;
}

#header h1 a {
    color: #fff;
    height: 33px;
    width: 800px;
    text-decoration: none;
    display: block;
}

#header h1 a:hover {
    color: #fff;
}

#header h1 span {
    display: none;
}

#header .loader {
    float: right;
    margin-top: 14px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

#header .username {
    float: right;
    text-align: right;
    bottom-margin:2px;
}

#header .account-link {
    float: right;
    font-style: italic;
    font-size: 1.0em;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 3px;
}

#header .account-link a {
    color: #ddd;
    background-color: #444;
}

#header .account-link a:link {
    color: #ddd;
    background-color: #444;
    text-decoration: none;
}

#header .account-link a:visited {
    color: #ddd;
    background-color: #444;
    text-decoration: none;
}

#header .account-link a:hover {
    color: #fff;
    background-color: #444;
    text-decoration: none;
}

.margin-center {
    margin: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.tab {
    float: left;
}

#nav {
    background-color: #008;
    clear: both;
    float: left;
    width: 100%;
    height: 28px;
}
#nav .tab a, #nav .tab .here a {
    color: #fff;
    float: left;
    line-height: 12px;
    margin-left: 4px;
    margin-right: 6px;
    padding: 10px;
    padding-top: 4px;
    margin-top: 3px;
    padding-bottom: 7px;
    text-decoration: none;
}
#nav .tab a:hover {
    background-color: #00f;
    padding-top: 4px;
    margin-top: 3px;
    border-bottom: 0px;
}
#nav .tab .here a, #nav .tab .here a:hover {
    background-color: #c3c3c3;
    color: #000;
}
#nav .name {
    float: right;
    font-size: 120%;
    font-family: trebuchet, verdana, helvetica, arial, sans-serif;
    margin-top: 5px;
    /*  margin-bottom: 13px;*/
    margin-right: 5px;
}
#nav .account-control {
    float: right;
    font-style: italic;
}
#main {
    width: 960px;
    min-height: 400px;
    float: left;
    padding-top: 11px;
    padding-bottom: 11px;
}

.page-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;	
    padding: 15px;
}

.page-container2 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;	
    margin-bottom: 20px;
    margin-top: 10px;	
    padding: 15px;
    -moz-box-shadow: 5px 5px 5px #456277;
    -webkit-box-shadow: 5px 5px 5px #456277;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 46%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 46%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 46%,#e8e8e8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 46%,#e8e8e8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E8E8E8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 46%,#e8e8e8 100%); /* W3C */
    border: 3px solid #fff;
}

.content {
}

.content p {
    padding-top: 0;
    margin-top: 0;
}

.content .items h3 a:hover,
.content ul#sections .toggle-arrow a:hover,
.content .item.views-section .name a:hover, 
.content .items .item .control a:hover {
    color: #000;
    border-bottom: 0;
}

#page-footer {
    margin-top:20px;
    font-size: 0.7em;
    text-align: center;
    color: #414d58;
}

#page-footer #copyright {
    float: left;
}

#page-footer #hosted-by {
    float: right;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f0f0f0;
}

.recent-tests {
    margin-top: 10px;
}

.recent-tests h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.test-results {
    border: 2px solid;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.test-results-table {
    width: 100%;
}

.test-results-table th {
    padding: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
    background-color: #444;
    font-weight: bold;
}

.test-results-table .toprow th {
    padding-bottom: 0px;
    border-bottom: 0px;
}

.test-results-table .result {
    text-align: center;
}

.test-result {
    padding: 5px;
}

.embedded-test-results-table {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.embedded-test-results-table th {
    padding: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
    background-color: #AAA;
}

.clinic-table {
    border: 1px solid;
    margin-top: 10px;
    width: 100%;
}

.clinic-table th {
    padding: 2px;
    color: white;
    background-color: #444;
    font-weight: bold;
}

.clinic-table {
    padding: 5px;
}

.more {
    font-size: .8em;
    font-style: italic;
    color: #444;
}

.clinic-name {
    margin-bottom: 10px;
}

.aka {
    margin-top: 5px;
    margin-left: 10px;
    font-size: .9em;
    font-style: italic;
}

.welcome {
    margin-top: 25px;
    margin-bottom: 25px;
}

.welcome p {
    margin-top: 25px;
}

.welcome div {
    margin-top: 25px;
}

.welcome .userid-label {
    font-weight: bold;
    text-align: center;
}

.welcome .userid {
    margin: 25px;
    color: red;
    font-size: 3em;
    text-align: center;
}

.welcome .password-label {
    font-weight: bold;
    text-align: center;
}

.welcome .password {
    margin: 25px;
    color: red;
    font-size: 2.0em;
    text-align: center;
}

.footnote {
    font-style: italic;
    font-size: 0.8em;
    color: red;
}

#facilities a { 
    color:#4D87E7; 
    background:transparent; 
    text-decoration:none; 
}

#facilities a:visited  { 
    color:#036; 
}

#facilities a:focus { 
    text-decoration:underline; 
    color:#000; 
    background: #fff; 
    outline: 3px #f93 solid; 
}

#facilities a:hover,#facilities a:active { 
    color:#182E7A; 
    text-decoration:underline;
    outline: 0 none; 
}


#accordian .ui-widget-control div a {
    color: #000;
    background: none;
    text-decoration: none;
}

#accordian .ui-widget-control div a:hover {
    background: none;
    color: #2e7989;
}

.report {
    width: 100%;
}

.report td {
    padding: 0px 5px 3px 7px;
    font-size: 75%;
}

.report th {
    padding: 0px 5px 5px 7px;
    font-size: 75%;
    font-weight: bold;
}

div.clear {
    clear: both;
}

div.month-links form {
    float: left;
    margin-right: 10px;
}

div.report-date {
    margin-top: 10px;
    margin-bottom: 10px;
}

.download-link {
    margin-top: 10px;
    font-size: 75%;
    font-style: italic;
}

#import-attentions h2 {
    margin-top: 10px;
    font-weight: bold;
}

#import-attentions td {
    padding: 5px;
}

#import-attentions th {
    font-size: 75%;
    font-weight: bold;
    padding: 5px;
}

#import-attentions td.likely-user {
    padding-left: 15px;
}

#import-attentions tr.group-header th {
    text-align: center;
}

div#print-link {
    margin-top: 25px;
    font-size: 75%;
    font-style: italic;
}

span.subtext {
    font-size: 50%;
    font-style: italic;
}
